<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
        <script>
            $( function() {
            $( "#datepicker" ).datepicker();
            } );
        </script>
        <script>
            $( function() {
                $( "#startTime" ).timepicker();
            } );
        </script>
        <script>
            $( function() {
                $( "#endTime" ).timepicker();
            } );
        </script>
    </head>
    {{#if user.isAdmin}}
        <body>
            <h1> Welcomer Dr. {{user.name}}</h1>
            <hr></hr>
            {{#if errors}}
                {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
                {{/each}}
            {{/if}}
            <hr></hr>    

            <div>
                <button typpe="button" class="adminButton">Show current bookings</button>
                <hr></hr>
            </div>

            <div>
                <form method="post" action="/user">
                    <button type="button" class="adminButton" onclick="toggle()">Create a new booking</button> <!-- onclick="toggle()" -->
                    <div id="createSchema" style="display:none">
                        <div class="form-group">
                            <label>Date</label><br>
                            <input type="text" class="form-control:focus" placeholder="Date" name="datepicker" id="datepicker">
                        </div>

                        <div class="form-group">
                            <label>Start time</label><br>
                            <input type="text" class="form-control:focus" placeholder="startTime" name="startTime" id="startTime">
                        </div>

                        <div class="form-group">
                            <label>End time</label><br>
                            <input type="text" class="form-control:focus" placeholder="endTime" name="endTime" id="endTime">
                        </div>
                        <p>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </p>
                    </div>
                    <hr></hr>
                </form>
            </div>

            <div>
                <button typpe="button" class="adminButton">Edit your bookings</button>
                <hr></hr>
            </div>

             <div>
                 <form method="post" action="/getPatient">

                    <button typpe="button" class="adminButton">Show all patients</button>
                    <div>
                        <table  border="1" cellpadding="10" cellspacing="10">
                            <tr>
                                <th>Name</th> <th>Email</th>
                            </tr>
                            {{# each patient }}
                            <tr>
                                    <td> {{ this.name }}</td>
                                    <td>{{ this.email }}</td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>

                 </form>

                <hr></hr>
            </div>
    
           <script>
                function toggle() { 
                    var toggle = document.getElementById('createSchema');
                    if (toggle.style.display == 'none') {
                        toggle.style.display = 'block';
                    } else {
                        toggle.style.display = 'none';
                    }
                }
            </script>

        </body>
    {{else}}
        <body>
            <h1> Client side</h1>
            <hr></hr>
            {{#if errors}}
                {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
                {{/each}}
            {{/if}}
            <hr></hr>    

            <div>
                <button typpe="button" class="adminButton">Book a time</button>
                <hr></hr>
            </div>
              
              <div id="showing">
                  <form method="post" action="/showTable">
                  <button typpe="button" class="adminButton">Show all time</button>
                  <table  border="1" cellpadding="10" cellspacing="10">
                        <tr>
                            <th>Date</th> <th>starttime</th> <th>endTime</th>
                        </tr>
                    {{# each items }}
                    <tr>
                        <td> {{ this.date }}</td>
                        <td>{{ this.startTime }}</td>
                        <td> {{ this.endTime }}</td>
                    </tr>
                    {{/each}}
                  </table>
            </div>
                  <hr></hr>
                  </form>
            </div>
              

        </body>
    {{/if}}
</html>